/* screen - my-work-me-o-clock */

.my-work-me-o-clock {
  background: linear-gradient(188.61deg, #ffffff 0%, #f7f8fc 101.25%);
  background-color: rgba(255,255,255,1.0);
  display: block;
  height: 12514px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
opacity: 0;transform: translate(0, 25px);
}
.my-work-me-o-clock .about-me-xNtogj {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 335px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 78px;
  white-space: nowrap;
  width: auto;
}
.my-work-me-o-clock .choose-what-you-n-your-freetime-xNtogj {
  background-color: transparent;
  height: auto;
  left: 1012px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 4323px;
  white-space: nowrap;
  width: auto;
}
.my-work-me-o-clock .clock-WZHxQa {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.my-work-me-o-clock .complete-your-profile-xNtogj {
  background-color: transparent;
  height: 37px;
  left: 545px;
  object-fit: cover;
  position: absolute;
  top: 3146px;
  width: 325px;
}
.my-work-me-o-clock .complete-your-r-and-get-started-xNtogj {
  background-color: transparent;
  height: auto;
  left: 1372px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 2454px;
  white-space: nowrap;
  width: auto;
}
.my-work-me-o-clock .contact-me-xNtogj {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 775px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 78px;
  white-space: nowrap;
  width: auto;
}
.my-work-me-o-clock .discover-and-choose-xtVjdx {
  background-color: transparent;
  height: 39px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 280px;
}
.my-work-me-o-clock .ellipse-622-1fdw1M {
  background-color: var(--seagull);
  border-radius: 8px;
  height: 16px;
  left: calc(50.00% - 8px);
  position: absolute;
  top: calc(50.00% - 8px);
  width: 16px;
}
.my-work-me-o-clock .ellipse-622-4sO0KP {
  background-color: var(--seagull);
  border-radius: 8px;
  height: 16px;
  left: calc(50.00% - 8px);
  position: absolute;
  top: calc(50.00% - 8px);
  width: 16px;
}
.my-work-me-o-clock .ellipse-622-CClIpg {
  background-color: #87c6eb;
  border-radius: 8px;
  height: 16px;
  left: calc(50.00% - 8px);
  position: absolute;
  top: calc(50.00% - 8px);
  width: 16px;
}
.my-work-me-o-clock .ellipse-622-c8wLCz {
  background-color: var(--seagull);
  border-radius: 8px;
  height: 16px;
  left: calc(50.00% - 8px);
  position: absolute;
  top: calc(50.00% - 8px);
  width: 16px;
}
.my-work-me-o-clock .ellipse-623-1fdw1M {
  background-color: var(--sail);
  border-radius: 18px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.my-work-me-o-clock .ellipse-623-4sO0KP {
  background-color: var(--sail);
  border-radius: 18px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.my-work-me-o-clock .ellipse-623-CClIpg {
  background-color: var(--sail);
  border-radius: 18px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.my-work-me-o-clock .ellipse-623-c8wLCz {
  background-color: var(--sail);
  border-radius: 18px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.my-work-me-o-clock .enter-your-personal-data-xNtogj {
  background-color: transparent;
  height: auto;
  left: 588px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 3202px;
  white-space: nowrap;
  width: auto;
}
.my-work-me-o-clock .everyday-you-ge-ected-interests-xtVjdx {
  background-color: transparent;
  bottom: 1px;
  height: 45px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.my-work-me-o-clock .get-a-quick-introduction-iCILkR {
  background-color: transparent;
  bottom: -2px;
  height: 21px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.my-work-me-o-clock .get-enough-time-to-enjoy-xNtogj {
  background-color: transparent;
  height: auto;
  left: 821px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 2456px;
  white-space: nowrap;
  width: auto;
}
.my-work-me-o-clock .get-recommendations-everyday-JOdLBH {
  background-color: transparent;
  bottom: -2px;
  height: 21px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.my-work-me-o-clock .gruppe-1-MI1hRM {
  background-color: transparent;
  cursor: pointer;
  height: 19px;
  left: 1490px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 12396px;
  transition: all 0.4s ease-in-out;
  width: 280px;
}
.my-work-me-o-clock .gruppe-1-MI1hRM:hover {

transform: scale(1.1);
}
.my-work-me-o-clock .gruppe-1-xNtogj {
  background-color: transparent;
  height: 736px;
  left: 1432px;
  object-fit: cover;
  position: absolute;
  top: 10388px;
  width: 378px;
}
.my-work-me-o-clock .gruppe-1083-xNtogj {
  background-color: transparent;
  height: 226px;
  left: 265px;
  object-fit: cover;
  position: absolute;
  top: 2157px;
  width: 284px;
}
.my-work-me-o-clock .gruppe-1101-xNtogj {
  background-color: transparent;
  height: 55px;
  left: 264px;
  position: absolute;
  top: 7956px;
  width: 227px;
}
.my-work-me-o-clock .gruppe-1102-xNtogj {
  background-color: transparent;
  height: 58px;
  left: 790px;
  position: absolute;
  top: 8139px;
  width: 196px;
}
.my-work-me-o-clock .gruppe-1103-xNtogj {
  background-color: transparent;
  height: 58px;
  left: 1317px;
  position: absolute;
  top: 7956px;
  width: 296px;
}
.my-work-me-o-clock .gruppe-1117-xNtogj {
  background-color: transparent;
  height: 803px;
  left: 117px;
  object-fit: cover;
  position: absolute;
  top: 3004px;
  width: 412px;
}
.my-work-me-o-clock .gruppe-1125-xNtogj {
  background-color: transparent;
  height: 803px;
  left: 1399px;
  object-fit: cover;
  position: absolute;
  top: 4124px;
  width: 412px;
}
.my-work-me-o-clock .gruppe-1132-xNtogj {
  background-color: transparent;
  height: 803px;
  left: 117px;
  object-fit: cover;
  position: absolute;
  top: 5248px;
  width: 412px;
}
.my-work-me-o-clock .gruppe-1134-xNtogj {
  background-color: transparent;
  height: 336px;
  left: 1169px;
  object-fit: cover;
  position: absolute;
  top: 4553px;
  width: 201px;
}
.my-work-me-o-clock .gruppe-1136-xNtogj {
  background-color: transparent;
  height: 336px;
  left: 588px;
  object-fit: cover;
  position: absolute;
  top: 5673px;
  width: 201px;
}
.my-work-me-o-clock .gruppe-1137-xNtogj {
  background-color: transparent;
  height: 336px;
  left: 588px;
  object-fit: cover;
  position: absolute;
  top: 3431px;
  width: 201px;
}
.my-work-me-o-clock .gruppe-1157-xNtogj {
  background-color: transparent;
  height: 1519px;
  left: 1013px;
  object-fit: cover;
  position: absolute;
  top: -476px;
  width: 1315px;
}
.my-work-me-o-clock .gruppe-1175-MI1hRM {
  background-color: transparent;
  height: 809px;
  left: 230px;
  object-fit: cover;
  position: absolute;
  top: 7157px;
  width: 415px;
}
.my-work-me-o-clock .gruppe-1175-xNtogj {
  background-color: transparent;
  height: 735px;
  left: 253px;
  object-fit: cover;
  position: absolute;
  top: 8915px;
  width: 377px;
}
.my-work-me-o-clock .gruppe-1189-xNtogj {
  background-color: transparent;
  height: 809px;
  left: 757px;
  object-fit: cover;
  position: absolute;
  top: 7329px;
  width: 415px;
}
.my-work-me-o-clock .gruppe-1196-xNtogj {
  background-color: transparent;
  height: 809px;
  left: 1284px;
  object-fit: cover;
  position: absolute;
  top: 7154px;
  width: 415px;
}
.my-work-me-o-clock .gruppe-1202-xNtogj {
  background-color: transparent;
  height: 735px;
  left: 772px;
  object-fit: cover;
  position: absolute;
  top: 8915px;
  width: 377px;
}
.my-work-me-o-clock .gruppe-1210-xNtogj {
  background-color: transparent;
  height: 735px;
  left: 1296px;
  object-fit: cover;
  position: absolute;
  top: 8915px;
  width: 377px;
}
.my-work-me-o-clock .gruppe-1211-xNtogj {
  background-color: transparent;
  height: 103px;
  left: 182px;
  position: absolute;
  top: 8621px;
  width: 374px;
}
.my-work-me-o-clock .gruppe-1212-xNtogj {
  background-color: transparent;
  height: 77px;
  left: 182px;
  position: absolute;
  top: 1913px;
  width: 176px;
}
.my-work-me-o-clock .gruppe-1213-xNtogj {
  background-color: transparent;
  height: 103px;
  left: 182px;
  position: absolute;
  top: 10142px;
  width: 379px;
}
.my-work-me-o-clock .gruppe-1214-xNtogj {
  background-color: transparent;
  height: 36px;
  left: 450px;
  position: absolute;
  top: 9304px;
  width: 36px;
}
.my-work-me-o-clock .gruppe-1215-xNtogj {
  background-color: transparent;
  height: 36px;
  left: 787px;
  position: absolute;
  top: 9304px;
  width: 36px;
}
.my-work-me-o-clock .gruppe-1216-xNtogj {
  background-color: transparent;
  height: 36px;
  left: 1038px;
  position: absolute;
  top: 9541px;
  width: 36px;
}
.my-work-me-o-clock .gruppe-1217-xNtogj {
  background-color: transparent;
  height: 36px;
  left: 1310px;
  position: absolute;
  top: 9442px;
  width: 36px;
}
.my-work-me-o-clock .gruppe-1218-xNtogj {
  background-color: transparent;
  height: 736px;
  left: 620px;
  object-fit: cover;
  position: absolute;
  top: 11537px;
  width: 378px;
}
.my-work-me-o-clock .gruppe-1224-xNtogj {
  background-color: transparent;
  height: 736px;
  left: 930px;
  object-fit: cover;
  position: absolute;
  top: 10388px;
  width: 378px;
}
.my-work-me-o-clock .gruppe-1225-xNtogj {
  background-color: transparent;
  height: 736px;
  left: 118px;
  object-fit: cover;
  position: absolute;
  top: 11537px;
  width: 378px;
}
.my-work-me-o-clock .gruppe-1226-xNtogj {
  background-color: transparent;
  height: 521px;
  left: 592px;
  object-fit: cover;
  position: absolute;
  top: 10563px;
  width: 274px;
}
.my-work-me-o-clock .gruppe-1258-xNtogj {
  background-color: transparent;
  height: 564px;
  left: 1100px;
  object-fit: cover;
  position: absolute;
  top: 11671px;
  width: 248px;
}
.my-work-me-o-clock .gruppe-173-xNtogj {
  background-color: transparent;
  height: 101px;
  left: 779px;
  object-fit: cover;
  position: absolute;
  top: 1403px;
  width: 363px;
}
.my-work-me-o-clock .gruppe-183-xNtogj {
  background-color: transparent;
  height: 194px;
  left: 821px;
  object-fit: cover;
  position: absolute;
  top: 2224px;
  width: 283px;
}
.my-work-me-o-clock .gruppe-2-MI1hRM {
  background-color: transparent;
  cursor: pointer;
  height: 19px;
  left: 150px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 190px;
  transition: all 0.4s ease-in-out;
  width: 231px;
}
.my-work-me-o-clock .gruppe-2-MI1hRM:hover {

transform: scale(1.1);
}
.my-work-me-o-clock .gruppe-2-xNtogj {
  background-color: transparent;
  cursor: pointer;
  height: 19px;
  left: 150px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 12396px;
  transition: all 0.4s ease-in-out;
  width: 231px;
}
.my-work-me-o-clock .gruppe-2-xNtogj:hover {

transform: scale(1.1);
}
.my-work-me-o-clock .gruppe-66-xNtogj {
  background-color: transparent;
  height: 255px;
  left: 1436px;
  object-fit: cover;
  position: absolute;
  top: 2124px;
  width: 167px;
}
.my-work-me-o-clock .have-a-better-i-our-fixed-dates-qpmQc4 {
  background-color: transparent;
  bottom: -2px;
  height: 21px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.my-work-me-o-clock .home-xNtogj {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 150px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 78px;
  white-space: nowrap;
  width: auto;
}
.my-work-me-o-clock .homescreen-JOdLBH {
  background-color: transparent;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 115px;
}
.my-work-me-o-clock .icon-feather-clock-xNtogj {
  background-color: transparent;
  height: 30px;
  left: 533px;
  position: absolute;
  top: 5397px;
  width: 30px;
}
.my-work-me-o-clock .icon-metro-heart-xNtogj {
  background-color: transparent;
  height: 28px;
  left: 960px;
  position: absolute;
  top: 4272px;
  width: 30px;
}
.my-work-me-o-clock .juni-2020-xNtogj {
  background-color: transparent;
  height: auto;
  left: 150px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 379px;
  white-space: nowrap;
  width: auto;
}
.my-work-me-o-clock .keep-your-profile-up-to-date-Cd044F {
  background-color: transparent;
  bottom: -2px;
  height: 21px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.my-work-me-o-clock .komponente-8-1-xNtogj {
  background-color: transparent;
  height: 132px;
  left: 894px;
  object-fit: cover;
  position: absolute;
  top: 6415px;
  width: 132px;
}
.my-work-me-o-clock .like-KaTpaL {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.my-work-me-o-clock .made-for-everyone-eYtBJg {
  background-color: transparent;
  height: 39px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 250px;
}
.my-work-me-o-clock .main-screens-xNtogj {
  background-color: transparent;
  color: var(--black-2);
  font-family: var(--font-family-roboto);
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 182px;
  letter-spacing: 0.00px;
  line-height: 35px;
  position: absolute;
  text-align: left;
  top: 7027px;
  white-space: nowrap;
  width: auto;
}
.my-work-me-o-clock .me-oclock-is-an-you-always-have-xNtogj {
  background-color: transparent;
  height: auto;
  left: 150px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 535px;
  width: 654px;
}
.my-work-me-o-clock .me-oclock-xNtogj {
  background-color: transparent;
  height: auto;
  left: 150px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 416px;
  white-space: nowrap;
  width: auto;
}
.my-work-me-o-clock .my-work-xNtogj {
  background-color: transparent;
  color: #87c7eb;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 562px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 78px;
  white-space: nowrap;
  width: auto;
}
.my-work-me-o-clock .myworkmeoclock-xNtogj {
  background-color: transparent;
  height: 3px;
  left: 562px;
  object-fit: cover;
  position: absolute;
  top: 119px;
  width: 99px;
}
.my-work-me-o-clock .onboarding-iCILkR {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
  height: 39px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: calc(100.00% - 17px);
}
.my-work-me-o-clock .organise-yourself-xNtogj {
  background-color: transparent;
  height: auto;
  left: 264px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 2410px;
  white-space: nowrap;
  width: auto;
}
.my-work-me-o-clock .pfad-1557-xNtogj {
  background-color: transparent;
  height: 752px;
  left: 1620px;
  object-fit: cover;
  position: absolute;
  top: 752px;
  width: 743px;
}
.my-work-me-o-clock .pfad-1558-xNtogj {
  background-color: transparent;
  height: 778px;
  left: -413px;
  object-fit: cover;
  position: absolute;
  top: 2796px;
  width: 764px;
}
.my-work-me-o-clock .pfad-1560-xNtogj {
  background-color: transparent;
  height: 856px;
  left: 1641px;
  object-fit: cover;
  position: absolute;
  top: 5397px;
  width: 846px;
}
.my-work-me-o-clock .pfad-1687-xNtogj {
  background-color: transparent;
  height: 2px;
  left: 467px;
  object-fit: cover;
  position: absolute;
  top: 9321px;
  width: 339px;
}
.my-work-me-o-clock .pfad-1688-xNtogj {
  background-color: transparent;
  height: 2px;
  left: 1055px;
  object-fit: cover;
  position: absolute;
  top: 9558px;
  width: 170px;
}
.my-work-me-o-clock .pfad-1689-xNtogj {
  background-color: transparent;
  height: 2px;
  left: 1223px;
  object-fit: cover;
  position: absolute;
  top: 9459px;
  width: 106px;
}
.my-work-me-o-clock .pfad-1690-xNtogj {
  background-color: transparent;
  height: 101px;
  left: 1223px;
  object-fit: cover;
  position: absolute;
  top: 9459px;
  width: 2px;
}
.my-work-me-o-clock .pfad-1691-xNtogj {
  background-color: transparent;
  height: 3036px;
  left: 421px;
  object-fit: cover;
  position: absolute;
  top: 3382px;
  width: 1056px;
}
.my-work-me-o-clock .pfad-33-xNtogj {
  background-color: transparent;
  height: 659px;
  left: -529px;
  object-fit: cover;
  position: absolute;
  top: 276px;
  width: 641px;
}
.my-work-me-o-clock .rechteck-1659-xNtogj {
  background: linear-gradient(180deg, #b7e5ff 0%, #84c5ea 100%);
  background-color: transparent;
  border-radius: 4px;
  height: 103px;
  left: 150px;
  position: absolute;
  top: 8621px;
  width: 6px;
}
.my-work-me-o-clock .rechteck-1660-xNtogj {
  background: linear-gradient(180deg, #b7e5ff 0%, #84c5ea 100%);
  background-color: transparent;
  border-radius: 4px;
  height: 103px;
  left: 150px;
  position: absolute;
  top: 6996px;
  width: 6px;
}
.my-work-me-o-clock .rechteck-1661-xNtogj {
  background: linear-gradient(180deg, #b7e5ff 0%, #84c5ea 100%);
  background-color: transparent;
  border-radius: 4px;
  height: 103px;
  left: 150px;
  position: absolute;
  top: 1900px;
  width: 6px;
}
.my-work-me-o-clock .rechteck-1662-xNtogj {
  background: linear-gradient(180deg, #b7e5ff 0%, #84c5ea 100%);
  background-color: transparent;
  border-radius: 4px;
  height: 103px;
  left: 150px;
  position: absolute;
  top: 10142px;
  width: 6px;
}
.my-work-me-o-clock .select-your-fix-times-xNtogj {
  background-color: transparent;
  height: auto;
  left: 588px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 5393px;
  white-space: nowrap;
  width: auto;
}
.my-work-me-o-clock .select-your-hobbies-xNtogj {
  background-color: transparent;
  height: auto;
  left: 1012px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 4267px;
  white-space: nowrap;
  width: auto;
}
.my-work-me-o-clock .set-your-fixed-already-working-xNtogj {
  background-color: transparent;
  height: auto;
  left: 264px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 2454px;
  white-space: nowrap;
  width: auto;
}
.my-work-me-o-clock .stay-organized-xNtogj {
  background-color: transparent;
  height: auto;
  left: 1372px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 2410px;
  white-space: nowrap;
  width: auto;
}
.my-work-me-o-clock .the-app-helps-y-or-other-chores-xNtogj {
  background-color: transparent;
  height: auto;
  left: 821px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 2500px;
  white-space: nowrap;
  width: auto;
}
.my-work-me-o-clock .wheter-you-are-already-working-xNtogj {
  background-color: transparent;
  height: auto;
  left: 588px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 5449px;
  white-space: nowrap;
  width: auto;
}
.my-work-me-o-clock .x51916-xNtogj {
  background-color: transparent;
  border-radius: 14px;
  cursor: pointer;
  height: 60px;
  left: 1590px;
  object-fit: cover;
  position: absolute;
  top: 60px;
  width: 60px;
}
.my-work-me-o-clock .x61109-xNtogj {
  background-color: transparent;
  border-radius: 14px;
  cursor: pointer;
  height: 60px;
  left: 1710px;
  object-fit: cover;
  position: absolute;
  top: 60px;
  width: 60px;
}
.my-work-me-o-clock .your-calendar-qpmQc4 {
  background-color: transparent;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 124px;
}
.my-work-me-o-clock .your-daily-planner-xNtogj {
  background-color: transparent;
  color: var(--fiord);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 842px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 1540px;
  white-space: nowrap;
  width: auto;
}
.my-work-me-o-clock .your-digital-pl-gh-quality-time-eYtBJg {
  background-color: transparent;
  bottom: 1px;
  height: 45px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.my-work-me-o-clock .your-profile-Cd044F {
  background-color: transparent;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 103px;
}
.my-work-me-o-clock.animate-enter3 {
  animation: animate-enter3-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
@keyframes animate-enter3-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
