/* screen - my-work-red-menstruation-app */

.my-work-red-menstruation-app {
  background-color: var(--white);
  display: block;
  height: 10827px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
opacity: 0;transform: translate(0, 25px);
}
.my-work-red-menstruation-app .about-me-SWQUiG {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 335px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 78px;
  white-space: nowrap;
  width: auto;
}
.my-work-red-menstruation-app .change-your-pro-ure-as-you-like-SWQUiG {
  background-color: transparent;
  height: auto;
  left: 1459px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 6797px;
  white-space: nowrap;
  width: auto;
}
.my-work-red-menstruation-app .contact-me-SWQUiG {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 775px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 78px;
  white-space: nowrap;
  width: auto;
}
.my-work-red-menstruation-app .ellipse-141-18KADk {
  background-color: var(--carnation);
  border-radius: 17px;
  height: 100%;
  left: 0px;
  opacity: 0.2;
  position: absolute;
  top: 0px;
  width: 100%;
}
.my-work-red-menstruation-app .ellipse-141-4OZf5j {
  background-color: var(--carnation);
  border-radius: 17px;
  height: 100%;
  left: 0px;
  opacity: 0.2;
  position: absolute;
  top: 0px;
  width: 100%;
}
.my-work-red-menstruation-app .ellipse-141-6JH681 {
  background-color: var(--carnation);
  border-radius: 17px;
  height: 100%;
  left: 0px;
  opacity: 0.2;
  position: absolute;
  top: 0px;
  width: 100%;
}
.my-work-red-menstruation-app .ellipse-141-6x2ZCx {
  background-color: var(--carnation);
  border-radius: 17px;
  height: 100%;
  left: 0px;
  opacity: 0.2;
  position: absolute;
  top: 0px;
  width: 100%;
}
.my-work-red-menstruation-app .ellipse-141-7EqY8Q {
  background-color: var(--carnation);
  border-radius: 17px;
  height: 100%;
  left: 0px;
  opacity: 0.2;
  position: absolute;
  top: 0px;
  width: 100%;
}
.my-work-red-menstruation-app .ellipse-141-L68uFS {
  background-color: var(--carnation);
  border-radius: 17px;
  height: 100%;
  left: 0px;
  opacity: 0.2;
  position: absolute;
  top: 0px;
  width: 100%;
}
.my-work-red-menstruation-app .ellipse-141-X3mlAE {
  background-color: var(--carnation);
  border-radius: 17px;
  height: 100%;
  left: 0px;
  opacity: 0.2;
  position: absolute;
  top: 0px;
  width: 100%;
}
.my-work-red-menstruation-app .ellipse-141-aRESvx {
  background-color: var(--carnation);
  border-radius: 17px;
  height: 100%;
  left: 0px;
  opacity: 0.2;
  position: absolute;
  top: 0px;
  width: 100%;
}
.my-work-red-menstruation-app .ellipse-141-dA5lji {
  background-color: var(--carnation);
  border-radius: 17px;
  height: 100%;
  left: 0px;
  opacity: 0.2;
  position: absolute;
  top: 0px;
  width: 100%;
}
.my-work-red-menstruation-app .ellipse-141-hDX1Rq {
  background-color: var(--carnation);
  border-radius: 17px;
  height: 100%;
  left: 0px;
  opacity: 0.2;
  position: absolute;
  top: 0px;
  width: 100%;
}
.my-work-red-menstruation-app .ellipse-141-hWxS6e {
  background-color: var(--carnation);
  border-radius: 17px;
  height: 100%;
  left: 0px;
  opacity: 0.2;
  position: absolute;
  top: 0px;
  width: 100%;
}
.my-work-red-menstruation-app .ellipse-141-mRnDzY {
  background-color: var(--carnation);
  border-radius: 17px;
  height: 100%;
  left: 0px;
  opacity: 0.2;
  position: absolute;
  top: 0px;
  width: 100%;
}
.my-work-red-menstruation-app .ellipse-141-pPCd6L {
  background-color: var(--carnation);
  border-radius: 17px;
  height: 100%;
  left: 0px;
  opacity: 0.2;
  position: absolute;
  top: 0px;
  width: 100%;
}
.my-work-red-menstruation-app .ellipse-141-vNlH9H {
  background-color: var(--carnation);
  border-radius: 17px;
  height: 100%;
  left: 0px;
  opacity: 0.2;
  position: absolute;
  top: 0px;
  width: 100%;
}
.my-work-red-menstruation-app .ellipse-141-wu6nxn {
  background-color: var(--carnation);
  border-radius: 17px;
  height: 100%;
  left: 0px;
  opacity: 0.2;
  position: absolute;
  top: 0px;
  width: 100%;
}
.my-work-red-menstruation-app .ellipse-141-zf3C6M {
  background-color: var(--carnation);
  border-radius: 17px;
  height: 100%;
  left: 0px;
  opacity: 0.2;
  position: absolute;
  top: 0px;
  width: 100%;
}
.my-work-red-menstruation-app .ellipse-142-18KADk {
  background-color: var(--carnation);
  border-radius: 8px;
  height: 16px;
  left: calc(50.00% - 8px);
  position: absolute;
  top: calc(50.00% - 8px);
  width: 16px;
}
.my-work-red-menstruation-app .ellipse-142-4OZf5j {
  background-color: var(--carnation);
  border-radius: 8px;
  bottom: calc(44.44% - 7px);
  height: 16px;
  left: calc(50.00% - 8px);
  position: absolute;
  width: 16px;
}
.my-work-red-menstruation-app .ellipse-142-6JH681 {
  background-color: var(--carnation);
  border-radius: 8px;
  height: 16px;
  left: calc(50.00% - 8px);
  position: absolute;
  top: calc(50.00% - 8px);
  width: 16px;
}
.my-work-red-menstruation-app .ellipse-142-6x2ZCx {
  background-color: var(--carnation);
  border-radius: 8px;
  bottom: calc(44.44% - 7px);
  height: 16px;
  left: calc(50.00% - 8px);
  position: absolute;
  width: 16px;
}
.my-work-red-menstruation-app .ellipse-142-7EqY8Q {
  background-color: var(--carnation);
  border-radius: 8px;
  bottom: calc(44.44% - 7px);
  height: 16px;
  left: calc(50.00% - 8px);
  position: absolute;
  width: 16px;
}
.my-work-red-menstruation-app .ellipse-142-L68uFS {
  background-color: var(--carnation);
  border-radius: 8px;
  bottom: calc(44.44% - 7px);
  height: 16px;
  left: calc(50.00% - 8px);
  position: absolute;
  width: 16px;
}
.my-work-red-menstruation-app .ellipse-142-X3mlAE {
  background-color: var(--carnation);
  border-radius: 8px;
  bottom: calc(44.44% - 7px);
  height: 16px;
  left: calc(50.00% - 8px);
  position: absolute;
  width: 16px;
}
.my-work-red-menstruation-app .ellipse-142-aRESvx {
  background-color: var(--carnation);
  border-radius: 8px;
  bottom: calc(44.44% - 7px);
  height: 16px;
  left: calc(50.00% - 8px);
  position: absolute;
  width: 16px;
}
.my-work-red-menstruation-app .ellipse-142-dA5lji {
  background-color: var(--carnation);
  border-radius: 8px;
  height: 16px;
  left: calc(50.00% - 8px);
  position: absolute;
  top: calc(50.00% - 8px);
  width: 16px;
}
.my-work-red-menstruation-app .ellipse-142-hDX1Rq {
  background-color: var(--carnation);
  border-radius: 8px;
  bottom: calc(44.44% - 7px);
  height: 16px;
  left: calc(50.00% - 8px);
  position: absolute;
  width: 16px;
}
.my-work-red-menstruation-app .ellipse-142-hWxS6e {
  background-color: var(--carnation);
  border-radius: 8px;
  height: 16px;
  left: calc(50.00% - 8px);
  position: absolute;
  top: calc(50.00% - 8px);
  width: 16px;
}
.my-work-red-menstruation-app .ellipse-142-mRnDzY {
  background-color: var(--carnation);
  border-radius: 8px;
  bottom: calc(44.44% - 7px);
  height: 16px;
  left: calc(50.00% - 8px);
  position: absolute;
  width: 16px;
}
.my-work-red-menstruation-app .ellipse-142-pPCd6L {
  background-color: var(--carnation);
  border-radius: 8px;
  height: 16px;
  left: calc(50.00% - 8px);
  position: absolute;
  top: calc(50.00% - 8px);
  width: 16px;
}
.my-work-red-menstruation-app .ellipse-142-vNlH9H {
  background-color: var(--carnation);
  border-radius: 8px;
  bottom: calc(44.44% - 7px);
  height: 16px;
  left: calc(50.00% - 8px);
  position: absolute;
  width: 16px;
}
.my-work-red-menstruation-app .ellipse-142-wu6nxn {
  background-color: var(--carnation);
  border-radius: 8px;
  bottom: calc(44.44% - 7px);
  height: 16px;
  left: calc(50.00% - 8px);
  position: absolute;
  width: 16px;
}
.my-work-red-menstruation-app .ellipse-142-zf3C6M {
  background-color: var(--carnation);
  border-radius: 8px;
  bottom: calc(44.44% - 7px);
  height: 16px;
  left: calc(50.00% - 8px);
  position: absolute;
  width: 16px;
}
.my-work-red-menstruation-app .enter-your-dura-of-your-intake-SWQUiG {
  background-color: transparent;
  height: auto;
  left: 1459px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 7273px;
  white-space: nowrap;
  width: auto;
}
.my-work-red-menstruation-app .erinnerungen-SWQUiG {
  background-color: transparent;
  height: 803px;
  left: 758px;
  object-fit: cover;
  position: absolute;
  top: 8113px;
  width: 410px;
}
.my-work-red-menstruation-app .extras-SWQUiG {
  background-color: transparent;
  height: auto;
  left: 1080px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 9429px;
  white-space: nowrap;
  width: auto;
}
.my-work-red-menstruation-app .fill-in-your-birthday-SWQUiG {
  background-color: transparent;
  height: auto;
  left: 1459px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 7052px;
  white-space: nowrap;
  width: auto;
}
.my-work-red-menstruation-app .fill-in-your-name-SWQUiG {
  background-color: transparent;
  height: auto;
  left: 278px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 6924px;
  white-space: nowrap;
  width: auto;
}
.my-work-red-menstruation-app .get-information-do-on-each-page-SWQUiG {
  background-color: transparent;
  height: auto;
  left: 1089px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 6513px;
  white-space: nowrap;
  width: auto;
}
.my-work-red-menstruation-app .gruppe-1014-SWQUiG {
  background-color: transparent;
  height: 895px;
  left: 432px;
  object-fit: cover;
  position: absolute;
  top: 9415px;
  width: 454px;
}
.my-work-red-menstruation-app .gruppe-1015-SWQUiG {
  background-color: transparent;
  height: 895px;
  left: 1047px;
  object-fit: cover;
  position: absolute;
  top: 9720px;
  width: 454px;
}
.my-work-red-menstruation-app .gruppe-1018-s5iENH {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.my-work-red-menstruation-app .gruppe-1035-SWQUiG {
  background-color: transparent;
  height: 1603px;
  left: 998px;
  object-fit: cover;
  position: absolute;
  top: -324px;
  width: 1199px;
}
.my-work-red-menstruation-app .gruppe-1037-SWQUiG {
  background-color: transparent;
  height: 743px;
  left: 925px;
  object-fit: cover;
  position: absolute;
  top: 1563px;
  width: 383px;
}
.my-work-red-menstruation-app .gruppe-1272-SWQUiG {
  background-color: transparent;
  cursor: pointer;
  height: 19px;
  left: 150px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 190px;
  transition: all 0.4s ease-in-out;
  width: 231px;
}
.my-work-red-menstruation-app .gruppe-1272-SWQUiG:hover {

transform: scale(1.1);
}
.my-work-red-menstruation-app .gruppe-1283-05IDO2 {
  background-color: transparent;
  height: 117px;
  left: 150px;
  object-fit: cover;
  position: absolute;
  top: 1817px;
  width: 349px;
}
.my-work-red-menstruation-app .gruppe-1283-SWQUiG {
  background-color: transparent;
  height: 688px;
  left: 1049px;
  position: absolute;
  top: 3003px;
  width: 395px;
}
.my-work-red-menstruation-app .gruppe-1285-SWQUiG {
  background-color: transparent;
  height: 743px;
  left: 1421px;
  object-fit: cover;
  position: absolute;
  top: 1455px;
  width: 384px;
}
.my-work-red-menstruation-app .gruppe-1286-SWQUiG {
  background-color: transparent;
  height: 899px;
  left: 747px;
  object-fit: cover;
  position: absolute;
  top: 6598px;
  width: 450px;
}
.my-work-red-menstruation-app .gruppe-1291-SWQUiG {
  background-color: transparent;
  height: 1696px;
  left: 463px;
  position: absolute;
  top: 4320px;
  width: 2242px;
}
.my-work-red-menstruation-app .gruppe-1303-SWQUiG {
  background-color: transparent;
  height: 34px;
  left: 814px;
  position: absolute;
  top: 8422px;
  width: 34px;
}
.my-work-red-menstruation-app .gruppe-1304-SWQUiG {
  background-color: transparent;
  height: 34px;
  left: 1067px;
  position: absolute;
  top: 8543px;
  width: 34px;
}
.my-work-red-menstruation-app .gruppe-5-SWQUiG {
  background-color: transparent;
  cursor: pointer;
  height: 19px;
  left: 150px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 10708px;
  transition: all 0.4s ease-in-out;
  width: 231px;
}
.my-work-red-menstruation-app .gruppe-5-SWQUiG:hover {

transform: scale(1.1);
}
.my-work-red-menstruation-app .gruppe-6-SWQUiG {
  background-color: transparent;
  cursor: pointer;
  height: 19px;
  left: 1490px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 10708px;
  transition: all 0.4s ease-in-out;
  width: 280px;
}
.my-work-red-menstruation-app .gruppe-6-SWQUiG:hover {

transform: scale(1.1);
}
.my-work-red-menstruation-app .gruppe-893-SWQUiG {
  background-color: transparent;
  height: 34px;
  left: 511px;
  position: absolute;
  top: 6921px;
  width: 34px;
}
.my-work-red-menstruation-app .gruppe-894-SWQUiG {
  background-color: transparent;
  height: 34px;
  left: 848px;
  position: absolute;
  top: 6919px;
  width: 34px;
}
.my-work-red-menstruation-app .gruppe-895-SWQUiG {
  background-color: transparent;
  height: 34px;
  left: 788px;
  position: absolute;
  top: 7165px;
  width: 34px;
}
.my-work-red-menstruation-app .gruppe-896-SWQUiG {
  background-color: transparent;
  height: 34px;
  left: 511px;
  position: absolute;
  top: 7165px;
  width: 34px;
}
.my-work-red-menstruation-app .gruppe-897-SWQUiG {
  background-color: transparent;
  height: 34px;
  left: 1405px;
  position: absolute;
  top: 7280px;
  width: 34px;
}
.my-work-red-menstruation-app .gruppe-898-SWQUiG {
  background-color: transparent;
  height: 34px;
  left: 1037px;
  position: absolute;
  top: 7280px;
  width: 34px;
}
.my-work-red-menstruation-app .gruppe-899-SWQUiG {
  background-color: transparent;
  height: 34px;
  left: 1405px;
  position: absolute;
  top: 7049px;
  width: 34px;
}
.my-work-red-menstruation-app .gruppe-900-SWQUiG {
  background-color: transparent;
  height: 34px;
  left: 1037px;
  position: absolute;
  top: 7049px;
  width: 34px;
}
.my-work-red-menstruation-app .gruppe-901-SWQUiG {
  background-color: transparent;
  height: 34px;
  left: 1405px;
  position: absolute;
  top: 6803px;
  width: 34px;
}
.my-work-red-menstruation-app .gruppe-902-SWQUiG {
  background-color: transparent;
  height: 34px;
  left: 1022px;
  position: absolute;
  top: 6803px;
  width: 34px;
}
.my-work-red-menstruation-app .gruppe-903-SWQUiG {
  background-color: transparent;
  height: 34px;
  left: 1072px;
  position: absolute;
  top: 6680px;
  width: 34px;
}
.my-work-red-menstruation-app .gruppe-904-SWQUiG {
  background-color: transparent;
  height: 34px;
  left: 1072px;
  position: absolute;
  top: 6584px;
  width: 34px;
}
.my-work-red-menstruation-app .gruppe-910-SWQUiG {
  background-color: transparent;
  height: 34px;
  left: 552px;
  position: absolute;
  top: 8423px;
  width: 34px;
}
.my-work-red-menstruation-app .gruppe-912-SWQUiG {
  background-color: transparent;
  height: 34px;
  left: 1336px;
  position: absolute;
  top: 8543px;
  width: 34px;
}
.my-work-red-menstruation-app .gruppe-944-pTXxwV {
  background-color: transparent;
  height: 95px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: calc(33.90% - 32px);
  width: calc(100.00% - 24px);
}
.my-work-red-menstruation-app .gruppe-945-pTXxwV {
  background-color: transparent;
  height: 114px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 30px);
}
.my-work-red-menstruation-app .gruppe-946-pTXxwV {
  background-color: transparent;
  bottom: calc(33.27% - 39px);
  height: 117px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: 100%;
}
.my-work-red-menstruation-app .gruppe-947-pTXxwV {
  background-color: transparent;
  bottom: 0px;
  height: 105px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% - 39px);
}
.my-work-red-menstruation-app .here-you-can-se-r-contraceptive-SWQUiG {
  background-color: transparent;
  height: auto;
  left: 223px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 7940px;
  white-space: nowrap;
  width: auto;
}
.my-work-red-menstruation-app .home-SWQUiG {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 150px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 78px;
  white-space: nowrap;
  width: auto;
}
.my-work-red-menstruation-app .its-possible-to-to-the-website-SWQUiG {
  background-color: transparent;
  height: auto;
  left: 1080px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 9484px;
  white-space: nowrap;
  width: auto;
}
.my-work-red-menstruation-app .january-2020-SWQUiG {
  background-color: transparent;
  height: auto;
  left: 150px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 379px;
  white-space: nowrap;
  width: auto;
}
.my-work-red-menstruation-app .linie-538-SWQUiG {
  background-color: transparent;
  height: 2px;
  left: 1039px;
  object-fit: cover;
  position: absolute;
  top: 6820px;
  width: 379px;
}
.my-work-red-menstruation-app .linie-539-SWQUiG {
  background-color: transparent;
  height: 96px;
  left: 1088px;
  object-fit: cover;
  position: absolute;
  top: 6601px;
  width: 2px;
}
.my-work-red-menstruation-app .linie-540-SWQUiG {
  background-color: transparent;
  height: 2px;
  left: 528px;
  object-fit: cover;
  position: absolute;
  top: 6936px;
  width: 337px;
}
.my-work-red-menstruation-app .linie-541-SWQUiG {
  background-color: transparent;
  height: 2px;
  left: 1054px;
  object-fit: cover;
  position: absolute;
  top: 7065px;
  width: 364px;
}
.my-work-red-menstruation-app .linie-542-SWQUiG {
  background-color: transparent;
  height: 2px;
  left: 528px;
  object-fit: cover;
  position: absolute;
  top: 7182px;
  width: 277px;
}
.my-work-red-menstruation-app .linie-543-SWQUiG {
  background-color: transparent;
  height: 2px;
  left: 1054px;
  object-fit: cover;
  position: absolute;
  top: 7296px;
  width: 364px;
}
.my-work-red-menstruation-app .linie-544-SWQUiG {
  background-color: transparent;
  height: 2px;
  left: 586px;
  object-fit: cover;
  position: absolute;
  top: 8438px;
  width: 230px;
}
.my-work-red-menstruation-app .linie-545-SWQUiG {
  background-color: transparent;
  height: 2px;
  left: 1098px;
  object-fit: cover;
  position: absolute;
  top: 8560px;
  width: 237px;
}
.my-work-red-menstruation-app .linie-556-SWQUiG {
  background-color: transparent;
  height: 1px;
  left: 1374px;
  object-fit: cover;
  position: absolute;
  top: 8203px;
  width: 29px;
}
.my-work-red-menstruation-app .main-screens-SWQUiG {
  background-color: transparent;
  height: auto;
  left: 223px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 2775px;
  white-space: nowrap;
  width: auto;
}
.my-work-red-menstruation-app .my-work-SWQUiG {
  background-color: transparent;
  color: var(--carnation);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 562px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 78px;
  white-space: nowrap;
  width: auto;
}
.my-work-red-menstruation-app .myworkred-SWQUiG {
  background-color: transparent;
  height: 3px;
  left: 562px;
  object-fit: cover;
  position: absolute;
  top: 119px;
  width: 99px;
}
.my-work-red-menstruation-app .pfad-1088-SWQUiG {
  background-color: transparent;
  height: 1121px;
  left: 1597px;
  object-fit: cover;
  position: absolute;
  top: 2295px;
  width: 990px;
}
.my-work-red-menstruation-app .pfad-1090-SWQUiG {
  background-color: transparent;
  height: 52px;
  left: 148px;
  object-fit: cover;
  position: absolute;
  top: 6398px;
  width: 35px;
}
.my-work-red-menstruation-app .pfad-1091-SWQUiG {
  background-color: transparent;
  height: 52px;
  left: 148px;
  object-fit: cover;
  position: absolute;
  top: 7877px;
  width: 35px;
}
.my-work-red-menstruation-app .pfad-1092-SWQUiG {
  background-color: transparent;
  height: 1767px;
  left: 1415px;
  object-fit: cover;
  position: absolute;
  top: 6637px;
  width: 1815px;
}
.my-work-red-menstruation-app .pfad-1093-SWQUiG {
  background-color: transparent;
  height: 52px;
  left: 1005px;
  object-fit: cover;
  position: absolute;
  top: 9421px;
  width: 35px;
}
.my-work-red-menstruation-app .pfad-1110-SWQUiG {
  background-color: transparent;
  height: 52px;
  left: 148px;
  object-fit: cover;
  position: absolute;
  top: 2767px;
  width: 35px;
}
.my-work-red-menstruation-app .pfad-1692-s5iENH {
  background-color: transparent;
  bottom: calc(49.51% - 313px);
  height: 632px;
  object-fit: cover;
  position: absolute;
  right: calc(36.57% - 237px);
  width: 649px;
}
.my-work-red-menstruation-app .pfad-1693-s5iENH {
  background-color: transparent;
  height: 633px;
  object-fit: cover;
  position: absolute;
  right: 85px;
  top: 74px;
  width: 649px;
}
.my-work-red-menstruation-app .pfad-1694-s5iENH {
  background-color: transparent;
  height: 630px;
  object-fit: cover;
  position: absolute;
  right: calc(37.01% - 239px);
  top: 74px;
  width: 646px;
}
.my-work-red-menstruation-app .pfad-1695-s5iENH {
  background-color: transparent;
  height: 628px;
  left: calc(33.98% - 219px);
  object-fit: cover;
  position: absolute;
  top: 40px;
  width: 645px;
}
.my-work-red-menstruation-app .pfad-1696-SWQUiG {
  background-color: transparent;
  height: 1473px;
  left: 641px;
  object-fit: cover;
  position: absolute;
  top: 4439px;
  width: 2139px;
}
.my-work-red-menstruation-app .pfad-51-05IDO2 {
  background-color: transparent;
  height: 841px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 996px;
  width: 1920px;
}
.my-work-red-menstruation-app .pfad-51-AW804A {
  background-color: transparent;
  height: 1457px;
  left: -732px;
  object-fit: cover;
  position: absolute;
  top: 8826px;
  width: 1496px;
}
.my-work-red-menstruation-app .pfad-51-SWQUiG {
  background-color: transparent;
  height: 1437px;
  left: -808px;
  object-fit: cover;
  position: absolute;
  top: 3121px;
  width: 1486px;
}
.my-work-red-menstruation-app .rechteck-1473-SWQUiG {
  background-color: transparent;
  border: 1px solid #f0f0f0;
  border-radius: 34px;
  box-shadow: 12px 30px 25px #4444441a;
  height: 812px;
  left: 476px;
  overflow: hidden;
  position: absolute;
  top: 2940px;
  width: 375px;
}
.my-work-red-menstruation-app .rechteck-1473-SWQUiG img {
  object-fit: cover;
}
.my-work-red-menstruation-app .rechteck-1473-SWQUiG video {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.my-work-red-menstruation-app .rechteck-1687-s5iENH {
  background-color: var(--white);
  border: 1px solid #f0f0f0;
  border-radius: 23px;
  bottom: calc(49.43% - 306px);
  box-shadow: 12px 30px 25px #4444441a;
  height: 620px;
  position: absolute;
  right: calc(39.05% - 111px);
  transform: rotate(47.00deg);
  width: 284px;
}
.my-work-red-menstruation-app .red-SWQUiG {
  background-color: transparent;
  height: auto;
  left: 150px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 416px;
  white-space: nowrap;
  width: auto;
}
.my-work-red-menstruation-app .red-is-an-app-t-includes-the-se-SWQUiG {
  background-color: transparent;
  height: auto;
  left: 150px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 535px;
  width: 591px;
}
.my-work-red-menstruation-app .reminder-SWQUiG {
  background-color: transparent;
  height: auto;
  left: 223px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 7885px;
  white-space: nowrap;
  width: auto;
}
.my-work-red-menstruation-app .select-your-contraceptive-SWQUiG {
  background-color: transparent;
  height: auto;
  left: 278px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 7170px;
  white-space: nowrap;
  width: auto;
}
.my-work-red-menstruation-app .verhtungserinnerung-SWQUiG {
  background-color: transparent;
  height: 803px;
  left: 1314px;
  object-fit: cover;
  position: absolute;
  top: 8113px;
  width: 409px;
}
.my-work-red-menstruation-app .x51916-SWQUiG {
  background-color: transparent;
  border-radius: 14px;
  cursor: pointer;
  height: 60px;
  left: 1590px;
  object-fit: cover;
  position: absolute;
  top: 60px;
  width: 60px;
}
.my-work-red-menstruation-app .x61109-SWQUiG {
  background-color: transparent;
  border-radius: 14px;
  cursor: pointer;
  height: 60px;
  left: 1710px;
  object-fit: cover;
  position: absolute;
  top: 60px;
  width: 60px;
}
.my-work-red-menstruation-app .your-profile-SWQUiG {
  background-color: transparent;
  height: auto;
  left: 223px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 6406px;
  white-space: nowrap;
  width: auto;
}
.my-work-red-menstruation-app .zykluserinnerung-SWQUiG {
  background-color: transparent;
  height: 803px;
  left: 209px;
  object-fit: cover;
  position: absolute;
  top: 8113px;
  width: 409px;
}
.my-work-red-menstruation-app.animate-enter6 {
  animation: animate-enter6-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
@keyframes animate-enter6-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
