:root {
  --black: #000000;
  --black-2: #000000d9;
  --carnation: #ff6363;
  --chetwode-blue: #7a7cf2;
  --cornflower: #a1d0f9;
  --fiord: #3f4d63;
  --gallery: #f0f0f0;
  --log-cabin: #222222;
  --mabel: #d7edff;
  --masala: #3c3c3c;
  --picton-blue: #3ca5ff;
  --picton-blue-2: #3ca5ffcc;
  --sail: #b5e3fe7d;
  --seagull: #86c6eb;
  --storm-dust: #656565;
  --storm-dust-2: #606060;
  --white: #ffffff;

  --font-size-l: 17px;
  --font-size-m: 16px;
  --font-size-s: 14px;
  --font-size-xl: 20px;
  --font-size-xxl: 26px;
  --font-size-xxxl: 30px;
  --font-size-xxxxl: 50px;

  --font-family-helveticaneue-regular: "HelveticaNeue-Regular", Helvetica;
  --font-family-montserrat: "Montserrat", Helvetica;
  --font-family-open_sans: "Open Sans", Helvetica;
  --font-family-roboto: "Roboto", Helvetica;
  --font-family-segoeui-regular: "SegoeUI-Regular", Helvetica;
}
.roboto-normal-log-cabin-26px {
  color: var(--log-cabin);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}
.roboto-normal-black-16px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
.roboto-medium-black-30px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 500;
}
.roboto-normal-chetwode-blue-26px {
  color: var(--chetwode-blue);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}
.roboto-medium-log-cabin-50px {
  color: var(--log-cabin);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 500;
}
.roboto-medium-log-cabin-14px {
  color: var(--log-cabin);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
}
.montserrat-normal-black-16px {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
.roboto-normal-black-20px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}
.opensans-normal-black-16px {
  color: var(--black-2);
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
.roboto-medium-picton-blue-30px {
  color: var(--picton-blue);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 500;
}
.opensans-semi-bold-black-30px {
  color: var(--black-2);
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 600;
}
.roboto-medium-masala-20px {
  color: var(--masala);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
}
.roboto-normal-black-18px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.roboto-medium-log-cabin-113px {
  color: var(--log-cabin);
  font-family: var(--font-family-roboto);
  font-size: 113px;
  font-style: normal;
  font-weight: 500;
}
.roboto-normal-fiord-16px {
  color: var(--fiord);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
.roboto-normal-black-16px-2 {
  color: var(--black-2);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
.roboto-normal-black-30px {
  color: var(--black-2);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}
.opensans-normal-black-16px-2 {
  color: var(--black);
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
.helveticaneue-regular-normal-storm-dust-17px {
  color: var(--storm-dust);
  font-family: var(--font-family-helveticaneue-regular);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}
.roboto-normal-storm-dust-16px {
  color: var(--storm-dust-2);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
.montserrat-normal-black-30px {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}
.roboto-normal-log-cabin-26px-2 {
  color: var(--log-cabin);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl);
}
.roboto-normal-fiord-20px {
  color: var(--fiord);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}
.opensans-semi-bold-black-30px-2 {
  color: var(--black);
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 600;
}
.opensans-normal-black-20px {
  color: var(--black);
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}
.border-0-5px-picton-blue-2 {
  border: 0.5px solid var(--picton-blue-2);
}
.border-0-5px-picton-blue {
  border: 0.5px solid var(--picton-blue);
}
.border-1px-white {
  border: 1px solid var(--white);
}
.border-1px-gallery {
  border: 1px solid var(--gallery);
}
